bin/
debug/
release/
x64/
artifacts/
docs/website/public
.vscode/
res/libsodium.a
res/libsodium/libsodium*
res/libsodium.a
src/ui_*.h
*.autosave
src/precompiled.h.cpp
.qmake.stash
piratewallet
PirateWallet-Lite.app
piratewallet-lite-mingw*
piratewallet-lite.vcxproj*
piratewallet.vcxproj*
piratewallet-lite.sln
piratewallet-lite.pro.user
/Makefile
/Makefile.*
qrc_application.cpp
zec-qt-wallet_plugin_import.cpp
piratewallet_plugin_import.cpp
pirate-qt-wallet_resource*
piratewallet_resource*
workspace.code-workspace
*.zip
*.tar.gz
*.xcsettings
.DS_Store
*.mak
pirated
IDEWorkspaceChecks.plist
*.sln
node_modules
zec-qt-wallet.pro.user.4.10-pre1
piratewallet-lite
piratewallet-lite_plugin_import.cpp
piratewallet-lite_resource.rc
